* {
  margin: 0;
}
main {
  background-image: url("./assets/img/fondoEncabezado.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.perfil {
  width: 20%;
  margin: 3%;
}
.navegacion {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.CuadradoLleno {
  border: solid 1px #5b6bff;
  width: 15px;
  height: 15px;
  background-color: #909bff;
}
.CuadradoVacio {
  border: solid 1px #909bff;
  width: 15px;
  height: 15px;
  background-color: #C3C9FF;
}
.titulo {
  font-size: 200%;
  text-align: center;
  width: 100%;
  background-color: #C3C9FF;
}

.datos {
  display: flex;
  flex-direction: column;
}
.info{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  left: 25%;
  gap: 10px;
  font-size: 120%;

}
.cuadraditos {
  display: flex;
  gap: 5px;
  align-items: center;
}
.subtitulosHabilidades {
  font-size: 120%;
  margin-bottom: 3%;
  color: #909bff;
}
.titulosAlineados {
  display: flex;
  justify-content: space-between;
}

.enlace{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #C3C9FF;
  border-radius: 10px;
  width: 10%;
  height: 25px;
  margin-bottom: 2%;
  color: black;
  font-size: 120%;
}
.enlace:hover{
  background-color: #C3C9FF;
  color: white;
}
.contenido{
  display: flex;
  gap: 20%;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  font-size: 130%;
}
.sobremi{
  align-items: start;
  gap: 5%;
}
.infoMia{
  width: 170%
}