* {
  margin: 0;
}
main {
  background-image: url("./assets/img/fondoEncabezado.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.perfil {
  width: 20%;
  margin: 3%;
  border-radius: 15px;
}
.navegacion {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.CuadradoLleno {
  border: solid 1px #5b6bff;
  width: 15px;
  height: 15px;
  background-color: #909bff;
}
.CuadradoVacio {
  border: solid 1px #909bff;
  width: 15px;
  height: 15px;
  background-color: #c3c9ff;
}
.titulo {
  font-size: 200%;
  text-align: center;
  width: 100%;
  background-color: #c3c9ff;
}

.datos {
  display: flex;
  flex-direction: column;
}
.info {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  left: 25%;
  gap: 10px;
  font-size: 120%;
}
.cuadraditos {
  display: flex;
  gap: 5px;
  align-items: center;
}
.subtitulosHabilidades {
  font-size: 120%;
  margin-bottom: 3%;
  color: #909bff;
}
.titulosAlineados {
  display: flex;
  justify-content: space-between;
}

.enlace {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #c3c9ff;
  border-radius: 10px;
  width: 10%;
  height: 25px;
  margin-bottom: 2%;
  color: black;
  font-size: 120%;
}
.enlace:hover {
  background-color: #c3c9ff;
  color: white;
}
.contenido {
  display: flex;
  gap: 20%;
  justify-content: center;
  align-items: center;
  margin: 3%;
  font-size: 130%;
}
.sobremi {
  align-items: start;
  gap: 5%;
  margin-top: 0;
}
.infoMia {
  width: 170%;
}

.card p {
  font-size: 150%;
  text-align: center;
}
.card img {
  width: 80%;
  margin-top: 2%;
  border-radius: 10px;
}
.card {
  width: 48%;
  height: 450px;
  border-radius: 10px;
  background-color: #c3c9ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
.containerCards {
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
  margin-bottom: 5%;
}
.enlacePortafolio {
  width: 20%;
  height: 8%;
  background-color: #909bff;
  text-decoration: none;
  text-align: center;
  font-size: 150%;
  border-radius: 10px;
  color: black;
}
.enlacePortafolio:hover {
  background-color: #5b6bff;
  color: white;
}
.icono-facebook {
  color: #3b5998;
  height: 2em;
}
.icono-instagram {
  color: #e1306c;
  height: 2em;
}
.icono-whatsapp {
  color: #00bb2d;
  height: 2em;
}
.icono-facebook:hover, .icono-whatsapp:hover, .icono-instagram:hover{
 color: white;
}

.redes{
  display: flex;
  gap: 10px;
}