* {
  margin: 0;
}
main {
  background-image: url("./assets/img/fondoEncabezado.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.perfil {
  width: 20%;
  margin: 3%;
}
.lateral {
  margin-left: 20px;
  margin-right: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.principal {
  width: 450px;
  margin-left: 1%;
}

.CuadradoLleno {
  border: solid 1px rgb(255, 175, 138);
  width: 15px;
  height: 15px;
  background-color: rgb(255, 149, 100);
}
.CuadradoVacio {
  border: solid 1px rgb(255, 149, 100);
  width: 15px;
  height: 15px;
  background-color: rgb(255, 211, 190);
}
.titulo {
  font-size: 20px;
  text-align: center;
  width: 99%;
  background-color: rgb(255, 206, 182);
}
.habilidad {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.datos {
  display: flex;
  flex-direction: column;
}
.nombre {
  font-size: 30px;
}
.cuadraditos {
  display: flex;
  gap: 5px;
  align-items: center;
}
.subtitulosHabilidades {
  font-size: 18px;
  margin: 5px;
  color: rgb(231, 159, 122);
}
.titulosAlineados {
  display: flex;
  justify-content: space-between;
}
.fondoEncabezado {
  width: 100%;
}
